In [1]:
# install pyspark
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pyspark in /usr/local/lib/python3.8/dist-packages (3.3.2)
Requirement already satisfied: py4j==0.10.9.5 in /usr/local/lib/python3.8/dist-packages (from pyspark) (0.10.9.5)

In [2]:
# import library
from pyspark.sql import SparkSession
# from pyspark.sql import Row
from pyspark.sql.functions import col

In [3]:
#Create a spark session
spark = SparkSession.builder.appName("SparkSQL").getOrCreate()

Extract

In [4]:
# read csv
df = spark.read.option("header", "true").option("inferSchema", "true")\
    .csv("/content/fhv_tripdata_2019-01.csv")
df.printSchema()

root
 |-- dispatching_base_num: string (nullable = true)
 |-- pickup_datetime: timestamp (nullable = true)
 |-- dropOff_datetime: timestamp (nullable = true)
 |-- PUlocationID: integer (nullable = true)
 |-- DOlocationID: integer (nullable = true)
 |-- SR_Flag: integer (nullable = true)
 |-- Affiliated_base_number: string (nullable = true)

Transformation process

In [5]:
# fungsi filter nan berdasarkan nama kolom
def filter_nan (dataframe, col_name:list):
    return dataframe.na.drop(subset=col_name)

# fungsi filter tanggal
def filter_date (dataframe, col_name, start_date, end_date):
    return dataframe.filter((col(col_name)  >= start_date) \
                            & (col(col_name)  <= end_date))

In [6]:
# filter nan pada kolom 'PUlocationID' dan 'DOlocationID'
df = filter_nan(df, ['PUlocationID','DOlocationID'])

# filter tanggal
df = filter_date(df, 'pickup_datetime', '2019-01-01', '2019-01-10')

In [7]:
df.show()

+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
|dispatching_base_num|    pickup_datetime|   dropOff_datetime|PUlocationID|DOlocationID|SR_Flag|Affiliated_base_number|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
|              B00254|2019-01-01 00:33:03|2019-01-01 01:37:24|         140|          52|   null|                B02356|
|              B00254|2019-01-01 00:03:00|2019-01-01 00:34:25|         141|         237|   null|                B00254|
|              B00254|2019-01-01 00:45:48|2019-01-01 01:26:01|         237|         236|   null|                B00254|
|              B00254|2019-01-01 00:37:39|2019-01-01 01:44:59|         162|          85|   null|                B00254|
|              B00254|2019-01-01 00:35:06|2019-01-01 01:30:21|         237|         246|   null|                B00254|
|              B00254|2019-01-01 00:55:23|2019-01-01 01:48:27|         145|         224|   null|                B02882|
|              B00254|2019-01-01 00:49:23|2019-01-01 01:38:38|         261|          14|   null|                B02994|
|              B00254|2019-01-01 00:11:10|2019-01-01 00:44:31|         162|         233|   null|                B00254|
|              B00254|2019-01-01 00:00:06|2019-01-01 00:32:21|          13|          87|   null|                B00254|
|              B00254|2019-01-01 00:36:32|2019-01-01 01:35:54|         249|         236|   null|                B00254|
|              B00254|2019-01-01 00:15:15|2019-01-01 00:54:49|         236|         229|   null|                B00254|
|              B00445|2019-01-01 00:32:02|2019-01-01 00:56:51|         145|          16|   null|                B00445|
|              B00445|2019-01-01 00:25:50|2019-01-01 00:33:58|         171|          15|   null|                B00445|
|              B00445|2019-01-01 00:45:47|2019-01-01 01:03:04|         252|          82|   null|                B00445|
|              B00445|2019-01-01 00:36:25|2019-01-01 01:00:17|         265|          92|   null|                B00445|
|              B00445|2019-01-01 00:53:37|2019-01-01 01:37:09|         229|          15|   null|                B00445|
|              B00445|2019-01-01 00:36:15|2019-01-01 00:48:39|         171|          16|   null|                B00445|
|              B00445|2019-01-01 00:28:34|2019-01-01 00:39:40|          16|         252|   null|                B00445|
|              B00445|2019-01-01 00:12:32|2019-01-01 00:12:36|         252|          70|   null|                B00445|
|              B00445|2019-01-01 00:45:07|2019-01-01 01:03:57|         265|         252|   null|                B00445|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
only showing top 20 rows

In [8]:
df.toPandas()

,dispatching_base_num,pickup_datetime,dropOff_datetime,PUlocationID,DOlocationID,SR_Flag,Affiliated_base_number
0,B00254,2019-01-01 00:33:03,2019-01-01 01:37:24,140,52,NaN,B02356
1,B00254,2019-01-01 00:03:00,2019-01-01 00:34:25,141,237,NaN,B00254
2,B00254,2019-01-01 00:45:48,2019-01-01 01:26:01,237,236,NaN,B00254
3,B00254,2019-01-01 00:37:39,2019-01-01 01:44:59,162,85,NaN,B00254
4,B00254,2019-01-01 00:35:06,2019-01-01 01:30:21,237,246,NaN,B00254
...,...,...,...,...,...,...,...
5338271,B02531,2019-01-10 00:00:00,2019-01-10 01:00:00,185,197,NaN,B02531
5338272,B02765,2019-01-10 00:00:00,2019-01-10 00:08:17,145,112,NaN,B02765
5338273,B02765,2019-01-10 00:00:00,2019-01-10 01:26:29,148,265,NaN,B02765
5338274,B02800,2019-01-10 00:00:00,2019-01-10 00:10:04,90,79,NaN,B02870
5338275,B02872,2019-01-10 00:00:00,2019-01-10 00:12:12,256,17,NaN,B02872

LOAD

In [11]:
# write data to parquet
df.write.mode("overwrite").parquet("clean_data_parquet.parquet")

# write data to json
df.write.mode("overwrite").json("clean_data_json.json")

Read

In [12]:
spark.read.parquet("clean_data_parquet.parquet").show()

+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
|dispatching_base_num|    pickup_datetime|   dropOff_datetime|PUlocationID|DOlocationID|SR_Flag|Affiliated_base_number|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
|              B02869|2019-01-04 12:36:08|2019-01-04 12:52:16|         173|          82|   null|                B02869|
|              B02869|2019-01-04 12:54:51|2019-01-04 13:01:08|         164|          48|   null|                B02869|
|              B02869|2019-01-04 12:29:34|2019-01-04 12:47:08|         234|         237|   null|                B02869|
|              B02869|2019-01-04 12:57:00|2019-01-04 13:12:23|         237|         100|   null|                B02869|
|              B02869|2019-01-04 12:19:43|2019-01-04 12:44:38|         180|         145|   null|                B02869|
|              B02869|2019-01-04 12:00:19|2019-01-04 12:23:01|         255|         231|   null|                B02869|
|              B02869|2019-01-04 12:37:27|2019-01-04 13:05:22|         231|         144|   null|                B02869|
|              B02869|2019-01-04 12:43:00|2019-01-04 12:56:06|          87|           4|   null|                B02869|
|              B02869|2019-01-04 12:27:35|2019-01-04 12:49:15|          68|          87|   null|                B02869|
|              B02869|2019-01-04 12:32:36|2019-01-04 12:46:19|         186|         211|   null|                B02869|
|              B02869|2019-01-04 12:06:31|2019-01-04 12:29:00|         246|          79|   null|                B02869|
|              B02869|2019-01-04 12:34:50|2019-01-04 12:49:54|           4|         162|   null|                B02869|
|              B02869|2019-01-04 12:23:32|2019-01-04 12:50:42|         148|           1|   null|                B02869|
|              B02869|2019-01-04 12:31:30|2019-01-04 12:41:28|         211|         231|   null|                B02869|
|              B02869|2019-01-04 12:45:18|2019-01-04 13:03:22|         231|         170|   null|                B02869|
|              B02869|2019-01-04 12:43:32|2019-01-04 12:52:38|         211|          79|   null|                B02869|
|              B02869|2019-01-04 12:08:01|2019-01-04 12:28:43|         144|         195|   null|                B02869|
|              B02869|2019-01-04 12:37:12|2019-01-04 12:46:25|          82|          82|   null|                B02869|
|              B02869|2019-01-04 12:06:03|2019-01-04 12:15:29|          16|          64|      2|                B02869|
|              B02869|2019-01-04 12:56:47|2019-01-04 13:15:56|         164|         231|   null|                B02869|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
only showing top 20 rows